.main-container {
  background-color: #1c1c1c;
  display: grid;
  place-items: center;
  padding: 2rem;
}

#wrapper {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
}

h1,
label,
input,
p,
select,
button,
.tag-name,
span {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.form-container {
  width: 500px;
  margin: 1rem;
}

form {
  margin: 1rem 0;

  input,
  select,
  textarea {
    background-color: #303030;
    border: none;
    padding: 0.2rem 0.5rem;
    color-scheme: dark;
  }

  canvas {
    background-color: #303030;
    width: 100%;
    min-height: 306px;
  }

  input[type="submit"]:hover {
    opacity: 50%;
  }
}

.tag-container {
  user-select: none;
  overflow: auto;
  margin: 0.5rem 0;
}

.tag-name {
  display: inline-block;
  border-radius: 5px;
  background-color: red;
  padding: 0.1rem 0.3rem;
  font-size: 90%;
  margin: 0.2rem;
  cursor: pointer;
}

.tag-delete-btn {
  border: none;
  background-color: transparent;
  font-size: 105%;
  cursor: pointer;
}

.tag-name:hover {
  opacity: 50%;
}

.noteTag {
  display: inline-block;
}

.tag {
  display: inline-block;
  border-radius: 5px;
  background-color: red;
  padding: 0.1rem 0.3rem;
  font-size: 90%;
  position: relative;
}

.note-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.note {
  background-color: #303030;
  padding: 1rem;
  margin: 1rem;
  position: relative;

  .note-delete-btn {
    position: absolute;
    background-color: #ff4a4a;
    border-radius: 5px;
    border: none;
    color: white;
    top: 0.5rem;
    right: 0.5rem;
  }

  .note-delete-btn:hover {
    opacity: 0.7;
  }

  .note-title {
    font-size: 20px;
    margin: 5px 0;
  }
}

.selected-tag {
  opacity: 70%;
}

.hide {
  display: none;
}

.row .options {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0.5rem 0;
  padding: 0;

  .option {
    margin: 0.2rem;
    cursor: pointer;
  }

  .canvas-tool {
    filter: brightness(0) invert(1);
    vertical-align: middle;
    margin: 0.2rem;
  }

  .option:is(:hover, .active) :where(span, label) {
    color: #505050;
  }

  .option:is(:hover, .active) img {
    filter: brightness(0) invert(1) opacity(0.2);
  }
}
